__Шаг 1. Откройте таблицу и изучите общую информацию о данных__

Импорт необходимых библиотек:

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType

In [62]:
spark = SparkSession.builder.appName("data").getOrCreate()
df = spark.read.option("header", "true").csv("data.csv")

df.printSchema()
df.show()

root
 |-- children: string (nullable = true)
 |-- days_employed: string (nullable = true)
 |-- dob_years: string (nullable = true)
 |-- education: string (nullable = true)
 |-- education_id: string (nullable = true)
 |-- family_status: string (nullable = true)
 |-- family_status_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- income_type: string (nullable = true)
 |-- debt: string (nullable = true)
 |-- total_income: string (nullable = true)
 |-- purpose: string (nullable = true)

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|              NULL|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

__Шаг 2. Предобработка данных__

В двух столбцах есть пропущенные значения. Один из них — days_employed. Пропуски в этом столбце вы обработаете на следующем этапе. Найдите другой столбец и заполните пропущенные значения в нём медианным значением:
опишите, какие пропущенные значения вы обнаружили;
- проверьте, какую долю составляют пропущенные значения в каждом из столбцов с пропусками;
- приведите возможные причины появления пропусков в данных;
- объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

In [63]:
print("Столбцы, имеющие пропущенные (Null) значения:")
for column in df.columns:
    if df.filter(col(column).isNull()).count() > 0:
        print(f" - {column}")

Столбцы, имеющие пропущенные (Null) значения:
 - days_employed
 - total_income

Пропущенные значения есть в days_employed и total_income

In [64]:
cnt_row = df.count()
null_days_employed = df.where(col("days_employed").isNull()).count()
null_total_income = df.where(col("total_income").isNull()).count()

print('Доли пропусков в столбцах ДатаФрейма:')
print(f"- days_employed: {null_days_employed/cnt_row*100}%")
print(f"- total_income: {null_days_employed/cnt_row*100}%")

Доли пропусков в столбцах ДатаФрейма:
- days_employed: 10.099883855981417%
- total_income: 10.099883855981417%

Доля пропусков равна 10.10%, пропуски в одинаковых строках

Причины возникновения: 
1. Клиенты не предоставили информацию для данных
2. Баги сервиса, который принимал информацию
3. Нет точной информации

Мы заполним пропуски в total_income медианным значением, потому что этот метод более устойчив к выбросам и непредсказуемым значениям

In [65]:
df = df.fillna({"total_income": df.select(median("total_income")).first()[0]})
df.show()

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|145017.93753253992|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

__2. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Например, отрицательное количество дней трудового стажа в столбце days_employed. Для реальных данных это нормально. Обработайте значения в столбцах с аномалиями и опишите возможные причины появления таких данных. После обработки аномалий заполните пропуски в days_employed медианными значениями по этому столбцу.__

Отрицательные значения в days_employed могут быть вызваны, например, ошибкой ввода.

Отрицательные значения приведем к абсолютным, а нулевые заполним медианными

In [66]:
df = df.withColumn("days_employed", abs(col("days_employed")))
df = df.fillna({"days_employed": df.select(median("days_employed")).first()[0]})
df.show()

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0| 2194.220566878695|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|145017.93753253992|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

__3. Замените вещественный тип данных в столбце total_income на целочисленный.__

In [67]:
df = df.withColumn("total_income", col("total_income").cast("integer"))
df.show()

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0|      253875|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      112080|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      145885|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      267628|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|      158616|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|      255763|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0|      240525|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|      135823|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0|       95856|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      144425|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0|      113943|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|       77069|покупка коммерчес...|
|       0| 2194.220566878695|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|      145017|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|      130458|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|      165127|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      116820|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      289202|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0|       90410|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|       56823|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|      242831|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

__4. Если в данных присутствуют строки-дубликаты, удалите их. Также обработайте неявные дубликаты. Например, в столбце education есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите такие значения к одному регистру.__
<br>После удаления дубликатов сделайте следующее:
- поясните, как выбирали метод для поиска и удаления дубликатов в данных;
- приведите возможные причины появления дубликатов.

Для удаления дубликатов можно сначала привести их к нижнему регистру, а затем удалить.

Дубликаты могли появится по ошибке: если их ввели несколько раз.

In [68]:
df = df.withColumn("education", lower(df["education"]))
df = df.dropDuplicates()
df.show()

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|       0| 2194.220566878695|       21|  среднее|           1|Не женат / не зам...|               4|     M|  компаньон|   0|      145017|операции с коммер...|
|       0| 191.1467457844417|       64|   высшее|           0|    гражданский брак|               1|     F|  компаньон|   0|      186408|             свадьба|
|       0| 563.9370284307207|       33|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|      161976|на покупку своего...|
|       2|1653.2725398991834|       25|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      102955|          автомобиль|
|       0|253.80635463648645|       23|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   0|       64992|на проведение сва...|
|       0|  394372.118413896|       52|   высшее|           0|Не женат / не зам...|               4|     F|  пенсионер|   0|      163091|сделка с подержан...|
|       1|  677.605977287625|       54|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   0|      114522|               жилье|
|       1| 633.3155423814244|       55|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   1|      135718|на покупку автомо...|
|       0| 2194.220566878695|       60|  среднее|           1|      вдовец / вдова|               2|     F|  пенсионер|   0|      145017|покупка жилой нед...|
|       1|4209.1957891718075|       49|  среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      107243|на проведение сва...|
|       0| 2194.220566878695|       46|   высшее|           0|Не женат / не зам...|               4|     F|  сотрудник|   0|      145017|строительство соб...|
|       2| 2194.220566878695|       36|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|      145017|заняться высшим о...|
|       1| 2399.070647090589|       33|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|      240622|строительство соб...|
|       1| 2131.771406367805|       34|   высшее|           0|Не женат / не зам...|               4|     F|  сотрудник|   0|      229419|  высшее образование|
|       2| 906.5194461676692|        0|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      215477|   операции с жильем|
|       0| 3214.138897463785|       54|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      115390|             свадьба|
|       1| 1862.917253993262|       27|   высшее|           0|           в разводе|               3|     F|  компаньон|   0|      573269|покупка недвижимости|
|       0| 659.7022899427086|       21|  среднее|           1|Не женат / не зам...|               4|     F|  сотрудник|   0|      109931|заняться высшим о...|
|       0|242.51186097165126|       58|  среднее|           1|    гражданский брак|               1|     M|госслужащий|   0|      160216|на проведение сва...|
|       0|438.82814308291535|       30|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       73160|     свой автомобиль|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

__5. Создайте два новых датафрейма, в которых:__
- каждому уникальному значению из education соответствует уникальное значение education_id — в первом;
- каждому уникальному значению из family_status соответствует уникальное значение family_status_id — во втором.
Удалите из исходного датафрейма столбцы education и family_status, оставив только их идентификаторы: education_id и family_status_id. Новые датафреймы — это те самые «словари» (не путайте с одноимённой структурой данных в Python), к которым вы сможете обращаться по идентификатору.

In [69]:
education = df.select("education").distinct().withColumn("education_id", monotonically_increasing_id())
family_status = df.select("family_status").distinct().withColumn("family_status_id", monotonically_increasing_id())
df = df.drop("education", "family_status")

print("Education:")
education.show()

print("Family Status:")
family_status.show()

print("Updated DataFrame:")
df.show()

Education:
+-------------------+------------+
|          education|education_id|
+-------------------+------------+
|          начальное|           0|
|неоконченное высшее|           1|
|             высшее|           2|
|            среднее|           3|
|     ученая степень|           4|
+-------------------+------------+

Family Status:
+--------------------+----------------+
|       family_status|family_status_id|
+--------------------+----------------+
|    гражданский брак|               0|
|      вдовец / вдова|               1|
|Не женат / не зам...|               2|
|           в разводе|               3|
|     женат / замужем|               4|
+--------------------+----------------+

Updated DataFrame:
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+
|       0| 2194.220566878695|       21|           1|               4|     M|  компаньон|   0|      145017|операции с коммер...|
|       0| 191.1467457844417|       64|           0|               1|     F|  компаньон|   0|      186408|             свадьба|
|       0| 563.9370284307207|       33|           1|               0|     M|  компаньон|   0|      161976|на покупку своего...|
|       2|1653.2725398991834|       25|           0|               0|     F|  компаньон|   0|      102955|          автомобиль|
|       0|253.80635463648645|       23|           1|               1|     M|  сотрудник|   0|       64992|на проведение сва...|
|       0|  394372.118413896|       52|           0|               4|     F|  пенсионер|   0|      163091|сделка с подержан...|
|       1|  677.605977287625|       54|           1|               1|     M|  сотрудник|   0|      114522|               жилье|
|       1| 633.3155423814244|       55|           1|               0|     M|  сотрудник|   1|      135718|на покупку автомо...|
|       0| 2194.220566878695|       60|           1|               2|     F|  пенсионер|   0|      145017|покупка жилой нед...|
|       1|4209.1957891718075|       49|           1|               1|     F|  сотрудник|   0|      107243|на проведение сва...|
|       0| 2194.220566878695|       46|           0|               4|     F|  сотрудник|   0|      145017|строительство соб...|
|       2| 2194.220566878695|       36|           1|               0|     M|  компаньон|   0|      145017|заняться высшим о...|
|       1| 2399.070647090589|       33|           1|               0|     M|  компаньон|   0|      240622|строительство соб...|
|       1| 2131.771406367805|       34|           0|               4|     F|  сотрудник|   0|      229419|  высшее образование|
|       2| 906.5194461676692|        0|           0|               0|     F|  компаньон|   0|      215477|   операции с жильем|
|       0| 3214.138897463785|       54|           1|               1|     F|  компаньон|   0|      115390|             свадьба|
|       1| 1862.917253993262|       27|           0|               3|     F|  компаньон|   0|      573269|покупка недвижимости|
|       0| 659.7022899427086|       21|           1|               4|     F|  сотрудник|   0|      109931|заняться высшим о...|
|       0|242.51186097165126|       58|           1|               1|     M|госслужащий|   0|      160216|на проведение сва...|
|       0|438.82814308291535|       30|           1|               0|     F|  сотрудник|   0|       73160|     свой автомобиль|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

__6. На основании диапазонов, указанных ниже, создайте столбец `total_income_category` с категориями:__
- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'.

In [70]:
df = df.withColumn("total_income_category", 
                   when(df["total_income"] <= 30000, 'E')
                   .when(df["total_income"] <= 50000, 'D')
                   .when(df["total_income"] <= 200000, 'C')
                   .when(df["total_income"] <= 1000000, 'B')
                   .otherwise('A'))
df.show()

+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|       0| 2194.220566878695|       21|           1|               4|     M|  компаньон|   0|      145017|операции с коммер...|                    C|
|       0| 191.1467457844417|       64|           0|               1|     F|  компаньон|   0|      186408|             свадьба|                    C|
|       0| 563.9370284307207|       33|           1|               0|     M|  компаньон|   0|      161976|на покупку своего...|                    C|
|       2|1653.2725398991834|       25|           0|               0|     F|  компаньон|   0|      102955|          автомобиль|                    C|
|       0|253.80635463648645|       23|           1|               1|     M|  сотрудник|   0|       64992|на проведение сва...|                    C|
|       0|  394372.118413896|       52|           0|               4|     F|  пенсионер|   0|      163091|сделка с подержан...|                    C|
|       1|  677.605977287625|       54|           1|               1|     M|  сотрудник|   0|      114522|               жилье|                    C|
|       1| 633.3155423814244|       55|           1|               0|     M|  сотрудник|   1|      135718|на покупку автомо...|                    C|
|       0| 2194.220566878695|       60|           1|               2|     F|  пенсионер|   0|      145017|покупка жилой нед...|                    C|
|       1|4209.1957891718075|       49|           1|               1|     F|  сотрудник|   0|      107243|на проведение сва...|                    C|
|       0| 2194.220566878695|       46|           0|               4|     F|  сотрудник|   0|      145017|строительство соб...|                    C|
|       2| 2194.220566878695|       36|           1|               0|     M|  компаньон|   0|      145017|заняться высшим о...|                    C|
|       1| 2399.070647090589|       33|           1|               0|     M|  компаньон|   0|      240622|строительство соб...|                    B|
|       1| 2131.771406367805|       34|           0|               4|     F|  сотрудник|   0|      229419|  высшее образование|                    B|
|       2| 906.5194461676692|        0|           0|               0|     F|  компаньон|   0|      215477|   операции с жильем|                    B|
|       0| 3214.138897463785|       54|           1|               1|     F|  компаньон|   0|      115390|             свадьба|                    C|
|       1| 1862.917253993262|       27|           0|               3|     F|  компаньон|   0|      573269|покупка недвижимости|                    B|
|       0| 659.7022899427086|       21|           1|               4|     F|  сотрудник|   0|      109931|заняться высшим о...|                    C|
|       0|242.51186097165126|       58|           1|               1|     M|госслужащий|   0|      160216|на проведение сва...|                    C|
|       0|438.82814308291535|       30|           1|               0|     F|  сотрудник|   0|       73160|     свой автомобиль|                    C|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+
only showing top 20 rows

__7. Создайте функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:__
- 'операции с автомобилем',
- 'операции с недвижимостью',
- 'проведение свадьбы',
- 'получение образования'.

<br>Например, если в столбце purpose находится подстрока 'на покупку автомобиля', то в столбце purpose_category должна появиться строка 'операции с автомобилем'.
Вы можете использовать собственную функцию и метод apply(). Изучите данные в столбце purpose и определите, какие подстроки помогут вам правильно определить категорию.

In [71]:
unique = df.select("purpose").distinct().collect()
print('Уникальные значения в столбце `purpose`')
for row in unique:
    print(f'- {row["purpose"]}')

Уникальные значения в столбце `purpose`
- свадьба
- сделка с автомобилем
- дополнительное образование
- приобретение автомобиля
- высшее образование
- строительство жилой недвижимости
- автомобили
- на проведение свадьбы
- на покупку подержанного автомобиля
- покупка жилой недвижимости
- покупка коммерческой недвижимости
- операции с коммерческой недвижимостью
- недвижимость
- сделка с подержанным автомобилем
- на покупку автомобиля
- покупка недвижимости
- получение дополнительного образования
- получение высшего образования
- ремонт жилью
- покупка жилья
- покупка своего жилья
- заняться высшим образованием
- свой автомобиль
- заняться образованием
- покупка жилья для сдачи
- строительство собственной недвижимости
- образование
- операции с недвижимостью
- операции с жильем
- на покупку своего автомобиля
- строительство недвижимости
- сыграть свадьбу
- профильное образование
- автомобиль
- жилье
- покупка жилья для семьи
- операции со своей недвижимостью
- получение образования

In [72]:
def cat_purpose(purpose):
    if 'автомобил' in purpose:
        return 'операции с автомобилем'
    elif 'недвижимост' in purpose or 'жиль' in purpose:
        return 'операции с недвижимостью'
    elif 'свадьб' in purpose:
        return 'проведение свадьбы'
    elif 'образован' in purpose:
        return 'получение образования'
    else:
        return 'другое'

category_purpose = udf(cat_purpose, StringType())

df = df.withColumn("purpose_category", category_purpose(col("purpose")))
df.show()

+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|    purpose_category|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|       0| 2194.220566878695|       21|           1|               4|     M|  компаньон|   0|      145017|операции с коммер...|                    C|операции с недвиж...|
|       0| 191.1467457844417|       64|           0|               1|     F|  компаньон|   0|      186408|             свадьба|                    C|  проведение свадьбы|
|       0| 563.9370284307207|       33|           1|               0|     M|  компаньон|   0|      161976|на покупку своего...|                    C|операции с автомо...|
|       2|1653.2725398991834|       25|           0|               0|     F|  компаньон|   0|      102955|          автомобиль|                    C|операции с автомо...|
|       0|253.80635463648645|       23|           1|               1|     M|  сотрудник|   0|       64992|на проведение сва...|                    C|  проведение свадьбы|
|       0|  394372.118413896|       52|           0|               4|     F|  пенсионер|   0|      163091|сделка с подержан...|                    C|операции с автомо...|
|       1|  677.605977287625|       54|           1|               1|     M|  сотрудник|   0|      114522|               жилье|                    C|операции с недвиж...|
|       1| 633.3155423814244|       55|           1|               0|     M|  сотрудник|   1|      135718|на покупку автомо...|                    C|операции с автомо...|
|       0| 2194.220566878695|       60|           1|               2|     F|  пенсионер|   0|      145017|покупка жилой нед...|                    C|операции с недвиж...|
|       1|4209.1957891718075|       49|           1|               1|     F|  сотрудник|   0|      107243|на проведение сва...|                    C|  проведение свадьбы|
|       0| 2194.220566878695|       46|           0|               4|     F|  сотрудник|   0|      145017|строительство соб...|                    C|операции с недвиж...|
|       2| 2194.220566878695|       36|           1|               0|     M|  компаньон|   0|      145017|заняться высшим о...|                    C|получение образов...|
|       1| 2399.070647090589|       33|           1|               0|     M|  компаньон|   0|      240622|строительство соб...|                    B|операции с недвиж...|
|       1| 2131.771406367805|       34|           0|               4|     F|  сотрудник|   0|      229419|  высшее образование|                    B|получение образов...|
|       2| 906.5194461676692|        0|           0|               0|     F|  компаньон|   0|      215477|   операции с жильем|                    B|операции с недвиж...|
|       0| 3214.138897463785|       54|           1|               1|     F|  компаньон|   0|      115390|             свадьба|                    C|  проведение свадьбы|
|       1| 1862.917253993262|       27|           0|               3|     F|  компаньон|   0|      573269|покупка недвижимости|                    B|операции с недвиж...|
|       0| 659.7022899427086|       21|           1|               4|     F|  сотрудник|   0|      109931|заняться высшим о...|                    C|получение образов...|
|       0|242.51186097165126|       58|           1|               1|     M|госслужащий|   0|      160216|на проведение сва...|                    C|  проведение свадьбы|
|       0|438.82814308291535|       30|           1|               0|     F|  сотрудник|   0|       73160|     свой автомобиль|                    C|операции с автомо...|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
only showing top 20 rows

__Шаг 3. Ответьте на вопросы__

- Есть ли зависимость между количеством детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?

In [73]:
pdf = df.toPandas()
print("Корреляция с 'debt':")
pdf[['children', 'family_status_id','total_income', 'debt']].corr()[['debt']].drop(index='debt')

Корреляция с 'debt':

                      debt
children          0.018256
family_status_id  0.020347
total_income     -0.011797

Зависимость между семейным положением, количеством детей, уровнем дохода и возвратом кредита в срок близки к нулю поэтому можно скзаать, что зависимость незначительна

In [74]:
cross = df.crosstab('purpose_category', 'debt').collect()
for i in cross:
    print(f"Цель взятия кредита: {i['purpose_category_debt']} - доля задолженностей: {int(i[2])/((int(i[1])+int(i[2])))} ")

Цель взятия кредита: операции с автомобилем - доля задолженностей: 0.09359033906177427
Цель взятия кредита: проведение свадьбы - доля задолженностей: 0.08003442340791739
Цель взятия кредита: операции с недвижимостью - доля задолженностей: 0.0723337341596522
Цель взятия кредита: получение образования - доля задолженностей: 0.0922003488661849

Доля задолженностей менее 10%. Можно увидеть, что чаще всего бывают задолжности с кредитом на автомобиль и на образование

__Сохранение обработанного датафрейма__

In [75]:
import pandas as pd

df_pandas = df.toPandas()
df_pandas

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,0,2194.220567,21,1,4,M,компаньон,0,145017,операции с коммерческой недвижимостью,C,операции с недвижимостью
1,0,191.146746,64,0,1,F,компаньон,0,186408,свадьба,C,проведение свадьбы
2,0,563.937028,33,1,0,M,компаньон,0,161976,на покупку своего автомобиля,C,операции с автомобилем
3,2,1653.272540,25,0,0,F,компаньон,0,102955,автомобиль,C,операции с автомобилем
4,0,253.806355,23,1,1,M,сотрудник,0,64992,на проведение свадьбы,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...
21449,2,2529.633034,29,1,0,F,компаньон,0,385531,образование,B,получение образования
21450,0,3150.622828,46,1,2,F,компаньон,0,123090,недвижимость,C,операции с недвижимостью
21451,0,3596.155013,33,0,0,M,компаньон,0,168698,получение дополнительного образования,C,получение образования
21452,0,392388.182360,59,0,0,M,пенсионер,1,226496,образование,B,получение образования
21453,2,1384.029879,36,1,0,M,компаньон,0,221043,строительство собственной недвижимости,B,операции с недвижимостью

In [78]:
df_pandas.to_csv('result.csv', index=False)